$colors : (
	background  : white,
	text        : #333,
	text-faded  : #888,
	purple      : #8040B5,
	purple-dark : #262667,
	highlight   : #FE5D1F,
	light       : white
);

:root {
    @each $colorName, $colorValue in $colors {
        --color-#{"" + $colorName} : #{$colorValue};
    }
}

// variables
$content-width : 1024px;
$mobile-width  : 916px;