@import "variables";
@import "mixins";
@import "fonts";

@import "layoutBase";

@import "components/header";
@import "components/headings";
@import "components/stripes";
@import "components/forms";
@import "components/footer";
@import "components/article";
@import "components/pagination";
@import "components/notFound";
@import "components/logo";

* {
	box-sizing: border-box;
}

body, html {
	font-size: 16px;
}

a {
	text-decoration: none;
}

body {
	padding: 0;
	margin: 0;
	background: color(background);
	color: color(text);
	font-family: "Merriweather", serif;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
}