article {
	&.url {
		h2 {
			display: flex;
			gap: 1rem;
			font-family: "Merriweather", serif;
			font-size: 1.2rem;

			a.link {
				&::before {
					content: url("../assets/icon_link.svg");
				}
			}
		}

		main {
			color: color(text-faded);
		}
	}

}

hr {
	max-width: 75%;
	margin: 3rem auto;
}