footer {
	&.main {
		background: color(purple-dark);
		font-size: 0.8rem;

		a {
			color: color(light);
		}

		nav {
			padding: 1.4rem 2rem;
			display: flex;
			align-items: center;
			gap: 2rem;
		}

		.version {
			color: color(light);
			font-size: 0.7rem;
			color: color(highlight);
			flex: 2;
			text-align: right;
		}
	}
}