header.main {
	nav {
		display: grid;
		grid-template-columns: 80px auto;
		align-items: center;
	
		@include mobile {
			grid-template-columns: 50px auto;
		}
	}

	img.logo {
		width: 100%;
		height: auto;
	}

	h1 {
		text-align: center;
		font-size: 5.8rem;
		margin: 0;
		padding: 0;

		a {
			color: color(text);
		}

		@include mobile {
			font-size: 4rem;
		}
	}
}

section.stripe.header {
	padding: 4rem 0 0 2rem !important;
	h2 {
		color: color(light);
		font-size: 4.1rem;
	}
}